@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap");

$font-1: "Nova Round", cursive;
$font-2: "Dosis", sans-serif;
$font-3: "Josefin Sans", serif;

// Sépia, bleu canard, beige et vert sauge
$color-1: #097770; //fond  accueil
$color-2: #e0cdbe; // fond compétences/portefolio //#ebe1be;
$color-3: #14948b; // Titre fond contact //rgba(191, 170, 143, 0.95);
$color-4: #edca82; // hover
$color-5: #9eb39b; // nav logo contact
$color-6: rgb(114, 112, 112);

$white: #ddd;
$black: #333;

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 1rem auto;
  max-width: 1200px;
  font-family: $font-1;
  color: $black;
  background: $white;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}
a:visited {
  color: $black;
}
.home,
.knowledges,
.portefolio,
.contact {
  display: flex;

  @media screen and (max-width: 850px) {
    display: block !important;
  }
}
.homeContent,
.knowledgesContent,
.portefolioContent,
.contactContent {
  margin-left: 0.4rem;

  @media screen and (max-width: 850px) {
    margin-left: 0 !important;
  }
}
